:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% of the viewport height */
  text-align: center;
}

.modal-content {
  max-width: 400px;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the content vertically */
}

h1 {
  color: #e53935; /* Red color for the title */
}

p {
  color: #333; /* Dark color for the error message */
}

button {
  background-color: #e53935; /* Red color for the button */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #c62828; /* Darker red color on hover */
}
